h5py
Pillow
tensorflow-addons
tensorflow-macos
tensorflow-metal
tensorflow-hub
jax-metal
ftfy
regex
gradio
scikit-image
psutil
torch
torchvision
opencv-python
numexpr
pytorch-lightning
numpy
safetensors
diffusers
transformers
huggingface-hub
rich
tqdm
