h5py
Pillow
ml_dtypes==0.2.0
tensorflow-addons
tensorflow-macos
tensorflow-metal
tensorflow-hub
jax-metal
ftfy
regex
gradio
scikit-image
psutil
torch==2.1.0
torchvision
opencv-python
numexpr
pytorch-lightning
numpy
safetensors
diffusers
transformers
huggingface-hub
rich
tqdm
compel
tomesd
accelerate
omegaconf
traceback2
