h5py
Pillow
tqdm
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow-addons
tensorflow-estimator
tensorflow-macos
tensorflow-metal
ftfy
regex
gradio
scikit-image
psutil
torch
opencv-python
numexpr
pytorch-lightning
numpy
